/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2015, 3:24:17 PM
    Author     : Justisin7
*/

.jumbotron{
    /*background-image: url('img/turtlebackgroun.jpg');*/
    background-image: url('turtlebackground.jpg') ;
     width: 100%;
    bottom:10px;
    background-size: cover;
    overflow: hidden;
    color: white; 
   

}
