.header {
    background-color:black;
    color:white;
    text-align:center;
    width:100%;
    padding: 1%;
}
.nav {
    line-height:30px;
    background-color:#eeeeee;
    height: 500px; /* IMPORTANT fix to percent */
    width:13.3333333%;
    float:left;
    padding: 1%;

}
.section1 {
    width:75%;
    float:left;
    padding: 1%;
}

.section2 {
    width:75%;
    float:left;
    padding: 1%;
}

.footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding: 1%;
    
}

